

h1 {
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 300%

}

p {

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 130%;
  text-align: center

}


body {
  background-color: bisque
}




#map {

  width: auto;
  Height: 77vh;

}


#legend {
  background-color: bisque;
  border-radius: 15px;
  bottom: 30px;
  right: 18px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px/20px georgia, serif;
  padding: 10px;
  position: absolute;
  z-index: 1;
  }
  
  #legend h4 {
  margin: 0 0 10px;
  text-align: center
  }
  
  #legend hr {
    width: 16px;
    transform: rotate(45deg);
    float: left;
    margin-right: 10px
  }
  
  #legend ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .class1 {
    border-top: 3px solid red;
  }
  .class2 {
    border-top: 3px solid orange
  }
  
  .class3{
    border-top: 3px solid yellow
  }
  
  .boundary{
    border-top: 4px solid black;
    opacity: .6
  }